<%= form_for(activity.liked(current_user),
             html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Unlike", class: "btn btn-small" %>
<% end %>
<span><%= activity.likes.count %> like</span>
