<div class="center hero-unit">
  <h1>Welcome to the Framgia Book Store</h1>

  <h2>
    This is the Framgia Book Store
    <a href="http://framgia.com/vn">Framgia Vietnam</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


