<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="span8">
      <h3>Activities</h3>
      <%= render 'shared/activity', activity_items: @activities %>
    </div>
  </div>
<% else %>

<div class="center hero-unit">
  <h1>Welcome to the Framgia Book Store</h1>

  <h2>
    This is the Framgia Book Store
    <a href="http://framgia.com/vn">Framgia Vietnam</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<% end %>
