<% provide(:title, 'All Books') %>
<h1>All Books</h1>


<table cellpadding="2" cellspacing="0" width="100%">
  <tr>
		<td class="listbox-header" align="center">
			Title
		</td>
		<td class="listbox-header" style="word-break: normal;" align="center">Author</td>
		<td class="listbox-header" width="70" align="center">Publish at</td>
		<td class="listbox-header" width="30" align="center">Price</td>
	</tr>

	<%= render @books %>
</table>

<%= will_paginate %>
