<li>
	<div> <%= link_to review.review_title %> </div>
	<span class="content"> <%= review.content_review %></span>
	<div> Reviews create at <%= review.created_at.strftime("%Y-%m-%d %a %H:%M:%S") %>  </div>
</li>
